body {
    margin: 1em;
}

.grade-card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}


.grade-card {
    border-width: 1px 8px 8px 1px;
    border-color: black;
    border-style: solid;
    text-align: center;
    padding: 1em 3em;
    margin: 1em;
}
